._dash-loading {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

._dash-loading::after {
  content: ' (may take up to 30 seconds)';
  background-image: 'Fig1.pdf';
  background-position: center center;
  background-repeat: no-repeat
}
